body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    list-style: none;
}

#weatherform {

}

.requestdiv {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


.weatherdisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    width: 1000px;

}

.locationsubmitbtn {
    border-radius: 15px;
    color: blue;
}

#weatherlist {
    text-align: center;
    gap: 20px;
}

.currenttemp {
    font-size: 2rem;
    font-weight: bold;
}

.description {
    font-size: 3rem;
    font-weight: bold;
}